body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
}

h1 {
  margin-top: 50px;
}

form {
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}

button[type="button"] {
  padding: 10px 20px;
  background-color: #87CEFA;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #ADD8E6;
}

p#resultado {
  margin-top: 20px;
  font-weight: bold;
}
