body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
}

h1 {
  margin-top: 50px;
}

form {
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}

button {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  background-color: #007FFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #ADD8E6;
}
